<script>
	import { defFieldConfig, Wrapper } from '@editorjs-custom-blocks/helpers';
	import EditorJS from '@editorjs/editorjs';
	import { onMount } from 'svelte';
	import { v4 as uuidv4 } from 'uuid';

	const defData = {};
	const config = {
		...defFieldConfig,
		tools: {},
	};

	export let fieldData;
	export let fieldConfig;

	const editorId = `editor-${ uuidv4() }`;

	fieldData = {...defData, ...fieldData};
	fieldConfig = {...config, ...fieldConfig};

	let editor;

	onMount(() => {
		editor = new EditorJS({
			holder		: editorId,
			data		: fieldData,
			tools		: fieldConfig.tools,
			onChange	: () => {
				editor.save()
					.then( outputData => fieldData = outputData )
					.catch( error => console.log('Saving failed: ', error) );
			}
		});
	});

	export const afterInsert = () => {}

	export const getData = ( $controlLayout, fieldConfig ) => fieldData;
</script>

<Wrapper fieldConfig={ fieldConfig }>
	<div id="{ editorId }" />
</Wrapper>