<script>
	import { defFieldConfig, Wrapper } from '@editorjs-custom-blocks/helpers';
	import style from './style.scss';

	const defData = false;
	const config = {
		...defFieldConfig,
	};

	export let fieldData;
	export let fieldConfig;

	fieldData = {...defData, ...fieldData};
	fieldConfig = {...config, ...fieldConfig};

	export const afterInsert = () => {}

	export const getData = ( $controlLayout, fieldConfig ) => {
		return fieldData;
	}
</script>

<Wrapper label={ false } fieldConfig={ fieldConfig }>
	<label class="cb-switch">
		<input class="cb-switch__input" type="checkbox" id="switch-{ fieldConfig.name }" bind:checked="{ fieldData }">

		<span class="cb-switch__label">
			<span>Вкл</span>
			<span>Выкл</span>
		</span>

		<span class="cb-switch__slide-button"></span>
	</label>

	<div >
		<label class="cb-switch__label" for="switch-{ fieldConfig.name }">{ fieldConfig.label }</label>
	</div>
</Wrapper>