.cb-switch {
	$gap : 5px;
	$width: 100px;
	$height: 15px;
	$borderRadius: 10px;

	&__input[type=checkbox]{
		height: 0;
		width: 0;
		visibility: hidden;
	}

	&__label {
		cursor: pointer;
		text-indent: -9999px;
		width: $width;
		height: $height;
		background: grey;
		display: block;
		border-radius: $borderRadius;
		position: relative;
	}

	&__label:after {
		content: '';
		position: absolute;
		top: $gap;
		left: $gap;
		width: $width - $gap * 2;
		height: $height - $gap * 2;
		background: #fff;
		border-radius: $borderRadius;
		transition: 0.3s;
	}

	&__input:checked + &__label {
		background: #bada55;
	}

	&__input:checked + &__label:after {
		left: calc(100% - #{ $gap });
		transform: translateX(-100%);
	}

	&__label:active:after {
		width: 130px;
	}
}
