<script>
	import { defFieldConfig, Wrapper } from '@editorjs-custom-blocks/helpers';
	import style from './style.scss';

	const defData = false;
	const config = {
		...defFieldConfig,
	};

	export let fieldData;
	export let fieldConfig;

	fieldData = {...defData, ...fieldData};
	fieldConfig = {...config, ...fieldConfig};

	export const afterInsert = () => {}

	export const getData = ( $controlLayout, fieldConfig ) => {
		return fieldData;
	}
</script>

<Wrapper label={ false } fieldConfig={ fieldConfig }>
	<label>
		<input type="checkbox" bind:checked="{ fieldData }">
		{ fieldConfig.label }
	</label>
</Wrapper>