<script>
	import { defFieldConfig, Wrapper } from '@editorjs-custom-blocks/helpers';
	import { onMount } from 'svelte';

	const defData = '';
	const config = {
		...defFieldConfig,
		endpoint: null,
		options: [],
	};

	export let fieldData;
	export let fieldConfig;

	let preloader = true;

	fieldData = fieldData || defData;
	fieldConfig = {...config, ...fieldConfig};

	onMount(() => {
		if( fieldConfig.endpoint === null ) {
			preloader = false;
			return;
		}

		fetch( fieldConfig.endpoint )
			.then( res => res.json() )
			.then( options => fieldConfig.options = options)
			.catch( err => console.log( err ) )
			.finally( preloader = false )
	});

	export const afterInsert = () => {}

	export const getData = ( $controlLayout, fieldConfig ) => {
		return fieldData;
	}
</script>

<Wrapper fieldConfig={fieldConfig}>
	<select placeholder="{ fieldConfig.label }" class="cdx-input" bind:value="{ fieldData }">
		{#each Object.keys( fieldConfig.options ) as value }
			<option value="{ value }">{ fieldConfig.options[ value ] }</option>
		{/each}
	</select>
</Wrapper>