<script>
	import { defFieldConfig, Wrapper } from '@editorjs-custom-blocks/helpers';
	import style from './style.scss';

	const defData = '';
	const config = {
		...defFieldConfig,
		rows: 4,
	};

	export let fieldData;
	export let fieldConfig;

	fieldData = {...defData, ...fieldData};
	fieldConfig = {...config, ...fieldConfig};

	export const afterInsert = () => {}

	export const getData = ( $controlLayout, fieldConfig ) => {
		return fieldData;
	}
</script>

<Wrapper fieldConfig={ fieldConfig }>
	<textarea rows="{ fieldConfig.rows }" placeholder="{ fieldConfig.label }" class="cdx-input" bind:value="{ fieldData.text }" />
</Wrapper>