<script>
	import { defFieldConfig, Wrapper } from '@editorjs-custom-blocks/helpers';
	import { Form } from '@editorjs-custom-blocks/form-builder';

	import style from './style.scss';

	const defData = '';
	const configx = {
		...defFieldConfig,
		prompt : 'Добавить',
		fields : {}
	};

	export let fieldData;
	export let fieldConfig;
	export let config;
	let self;

	let items = [];

	fieldData = {...defData, ...fieldData};
	fieldConfig = {...configx, ...fieldConfig};

	export const afterInsert = () => {}

	export const getData = async ( $controlLayout, fieldConfig ) => {
		let data = [];

		for ( const item of items ) {
			data.push( await item.component.getData() );
		}

		return data;
	}

	const addItem = e => {
		items = [...items, { title : 'dsfsdf' }]
	}
</script>

<Wrapper fieldConfig={ fieldConfig }>
	<div class="cb-component-repeater" bind:this="{ self }">
		<div class="cb-component-repeater__items" data-component="repeater-items">
			{#each items as item }
				<div class="cb-component-repeater__item custom-block-panel" data-component="repeater-item">
					<button class="ce-settings__button ce-settings__button--delete cb-component-repeater__btn-item-delete" type="button"><svg class="icon icon--cross" width="12px" height="12px"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cross"></use></svg></button>
					<Form bind:this="{ item.component }" { config } data="{ {} }" schema="{ fieldConfig.fields }" />
				</div>
			{/each}
		</div>

		<div class="cb-component-repeater__btn-add-wrapper">
			<button on:click="{ addItem }" class="cdx-button" type="button">{ fieldConfig.prompt }</button>
		</div>
	</div>
</Wrapper>