.cb-component-repeater {
	&__items {

	}

	&__item {
		&.custom-block-panel {
			padding-top: 40px;
		}
	}

	&__btn-item-delete {
		position: absolute;
		top: 5px;
		right: 5px;
		z-index: 1;
	}

	&__btn-item-delete-icon {
		width: 100%;
		height: 100%;
	}

	&__btn-add-wrapper {
		margin-bottom: 20px;
	}
}