<script>
	import { defFieldConfig, Wrapper } from '@editorjs-custom-blocks/helpers';

	import style from './style.scss';

	const defData = '';
	const config = {
		...defFieldConfig,
	};

	export let fieldData;
	export let fieldConfig;

	fieldData = {...defData, ...fieldData};
	fieldConfig = {...config, ...fieldConfig};

	export const afterInsert = () => {}

	export const getData = ( $controlLayout, fieldConfig ) => {
		return fieldData;
	}
</script>

<Wrapper fieldConfig={ fieldConfig }>
	<input placeholder="{ fieldConfig.label }" class="cdx-input" type="text" bind:value="{ fieldData.text }">
</Wrapper>